body{
    margin: 0;
    padding: 0;
}

.footer {
    background: #1d2124;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.socialMedia{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socialMedia a {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;

}

.socialMedia a:hover{

    color: rgb(210, 81, 81);
    transition: all 0.3s ease;
}

.monogram {

    color: rgb(158, 148, 148);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 10px;
}

